# The service name in UI
agent.service_name=Graph

# Backend service addresses.
collector.backend_service=127.0.0.1:11800

logging.output=CONSOLE

# Logging file_name
logging.file_name=http-agent.log

# Logging level
logging.level=INFO

# Logging dir
logging.dir=""

# Mount the specific folders of the plugins. Plugins in mounted folders would work.
plugin.mount=plugins,activations

plugin.kafka.bootstrap_servers=localhost:9092